<!--  Inscrivez-vous version mobile -->
<div class="mobile">
    <div>
        <span class="redtext">Rej</span>
        <span class="blacktext">oignez-nous !</span>
    </div>
    <div class="message">
        <p>L'inscription est gratuite, rapide et facile.</p>
        <span class=""></span>
    </div>
</div>
<!--  Inscrivez-vous version mobile -->
<form [formGroup]="myForm" (ngSubmit)="storeFullDatas(myForm)">
    <div class="wrapper">
        <div class="groupe">
            <h5><span class="spanwhite">Coo</span><span class="spanblack">rdonnées</span></h5>
            <div class="groupe-a skin">
                <div class="groupe-a1 ">
                    <div>
                        <label>Titre</label>
                        <div class="radiobtn">
                            <div class="radio">
                                <label class="radiolabel">
                                    <input class="radioinput" type="radio" name="gender" formControlName="gender" value=1 checked>Madame
                                </label>
                            </div>
                            <div class="radio">
                                <label class="radiolabel">
                                    <input class="radioinput" type="radio" name="gender" formControlName="gender" value=0>Monsieur
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="groupe-a2 inline">
                    <div class="firstname column">
                        <label for="firstname">Nom</label>
                        <input type="text" class="input" name="firstname" formControlName="firstname"> 
                    </div>
                    <div class="lastname column">
                        <label for="lastname">Prénom</label>
                        <input type="text" class="input" name="lastname" formControlName="lastname"/> 
                    </div>
                </div>
                <div class="groupe-a3 column">
                    <label for="adress1">Adresse 1</label>
                    <input class="input100" type="text" class="input" name="adress1" formControlName="adress1"/> 
                </div>
                <div class="groupe-a4 column">
                    <label for="adress2">Adresse 2</label>
                    <input class="input100" type="text" class="input" name="adress2" formControlName="adress2"/> 
                </div>
    
                <div class="groupe-a5 inline">
                    <div class="zipcode column">
                        <label for="zipcode">Code postal</label>
                        <input type="text" class="input" name="zipcode" formControlName="zipcode"/> 
                    </div>
                    <div class="city column">
                        <label for="city">Ville</label>
                        <input type="text" class="input" name="city" formControlName="city"/> 
                    </div>
                </div>
            </div>
        </div>
        <div class="groupe">
            <h5><span class="spanwhite">Com</span><span class="spanblack">pte</span></h5>
            <div class="groupe-b skin">
                <div class="groupe-b1 inline">
                    <div class="pseudo column">
                        <label for="pseudo">Pseudo</label>
                        <input type="text" class="input" name="pseudo" formControlName="pseudo"/> 
                    </div>
                    <div class="avatar column">
                        <label for="avatar">Image de profile</label>
                        <input type="text" class="input" name="avatar" formControlName="avatar"/> 
                    </div>
                </div>
                <div class="groupe-b2 column">
                    <label for="email">Email</label>
                    <input class="input100" type="text" class="input" name="email" formControlName="email"/> 
                </div>
                <div class="groupe-b3 column">
                    <label for="conf-email">Email conf.</label>
                    <input class="input100" type="text" class="input" name="confemail" formControlName="conf-email"/> 
                </div>
                <div class="groupe-b4 inline">
                    <div class="mdp column">
                        <label for="mdp">Mdp</label>
                        <input type="text" class="input" name="mdp" formControlName="mdp"/> 
                    </div>
                    <div class="conf-mdp column">
                        <label for="conf-mdp">Mdp conf.</label>
                        <input type="text" class="input" name="confmdp" formControlName="conf-mdp"/> 
                    </div>
                </div>
                <div class="groupe-b5 column">
                    <label for="bio">Bio</label>
                    <textarea formControlName="bio" rows="6"></textarea>
                </div>
            </div>
        </div>
        <!-- Inscrivez-vous version desktop -->
            <div class="groupe-c">
                <div class="message">
                    <p>Rejoignez-nous !</p>
                    <p>L'inscription est gratuite, rapide et facile.</p>
                    <span class=""></span>
                </div>
                <button class="btn" type="submit">S'inscrire</button>
            </div>
            <!-- validation inscription version mobile  -->
            <button class="mobile-btn" type="submit">
                S'inscrire
            </button>
    </div>
</form>
