.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORMULAIRES => ARCHITECTURE ET STYLES */

.groupe {
    min-width:340px;
}

.groupe-a, .groupe-b {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.groupe-a1, .groupe-a2, .groupe-a3, .groupe-a4, .groupe-a5, .groupe-b1, .groupe-b2, .groupe-b3, .groupe-b4, .groupe-b5 {
    margin-bottom: 20px;
}

.groupe-a2, .groupe-a5, .groupe-b1, .groupe-b4 {
    gap: 5%;
    justify-content: space-between;
}

.groupe-c {
align-self: center;
text-align: center;
}

.skin {
    background-color: var(--skin);
    padding: 13px;
}

.column {
    display: flex;
    flex-direction: column;
}

.inline {
    display: flex;
}

/* FORMULAIRES => TITRES */

h5 {
    background-color: var(--red);
    margin-bottom: 0px;
    padding: 7px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.spanwhite {
    color: var(--white);
}

.spanblack {
    color: var(--black);
}

/* FORMULAIRES => INPUT RADIO */

.radiobtn {
    display: flex;
    justify-content: flex-start;
}

.radioinput {
    margin-right: 10px;
}

.radio {
width: 50%;
}

/* FORMULAIRES => INPUTS ET LABELS */

label {
    margin-bottom: 17px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.525);
    border-radius: 5px;
    line-height: 35px;
}

.inline input {
    max-width: 145px;
}

.message {
    font-size: clamp(1.25rem, 0.5rem + 2vw, 2rem);
    text-align: center;
    margin-bottom: 5%;
}

.btn {
    width: 182px;
    height: 43px;
    align-self: flex-end;
    background-color: var(--skin);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    padding: 5px;
}

.password-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    background-color: var(--skin);
}

#passwordRegistration {
    width: 100%;
}

/* FORMULAIRE MESSAGES ERREURS */

.field-message {
    font-size: 10px;
    color: red;
}

/* MESSAGE => VERSION MOBILE */

.mobile {
    min-width: 340px;
    min-height: fit-content;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    background-color: var(--skin);
    padding: 10px;
    text-align: center;
}

.mobile-txt {
    font-size: 15px;
    color: var(--greytext);
    text-align: justify;
}

.mobile-btn {
    width: 182px;
    height: 43px;
    background-color: var(--skin);
    font-size: 20px;
    font-weight: 600;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 4%;
}

.redtext {
    font-size: 24px;
    color: var(--red);
    font-weight: 1000;
}

.blacktext {
    font-size: 24px;
    color: var(--black);
    font-weight: 1000;
}

/* ############################################ */
/* ############## MEDIAQUERIES ################ */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section {
        margin-top: 5%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .groupe {
        margin-bottom: 2%;
    }

    .groupe-c {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-btn {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    section {
        margin-top: 5%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .groupe {
        margin-bottom: 2%;
    }

    .groupe-c {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-btn {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    section {
        margin-top: 8%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .groupe {
        margin-bottom: 2%;
    }

    .groupe-c {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-btn {
        display: block;
    }
}

/* Large devices (laptops/desktops, 990px and up) */
@media only screen and (min-width: 990px) {

    section {
        margin-top: 10%;
    }

    .wrapper {
        flex-direction: row;
        align-items: baseline;
        gap: 5%;
    }

    .groupe-c {
        display: block;
    }

    .mobile {
        display: none;
    }

    .mobile-btn {
        display: none;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}