<!--  Inscrivez-vous version mobile -->
<div class="mobile">
    <div>
        <span class="redtext">Rej</span>
        <span class="blacktext">oignez-nous !</span>
    </div>
    <div class="message">
        <p>L'inscription est gratuite, rapide et facile.</p>
        <span class=""></span>
    </div>
</div>
<!--  Inscrivez-vous version mobile -->
<form class="form" [formGroup]="inscriptionForm" (ngSubmit)="submit()">
    <div class="wrapper">
        <div class="groupe">
            <h5><span class="spanwhite">Com</span><span class="spanblack">pte</span></h5>
            <div class="groupe-b skin">
                <div class="groupe-b2 column">
                    <div class="pseudo column">
                        <label for="usernameRegistration">Username</label>
                        <input type="text" class="input" id="usernameRegistration" formControlName="username"/> 
                        <div class="field-message" *ngIf="inscriptionForm.get('username')?.invalid  && (inscriptionForm.get('username')?.dirty || inscriptionForm.get('username')?.touched)">
                            De 3 à 15 caractères alphanumérics.
                        </div>
                    </div>
                </div>
                <div class="groupe-b2 column">
                    <label for="emailRegistration">Email</label>
                    <input class="input100" type="text" class="input" id="emailRegistration" formControlName="email"/> 
                    <div class="field-message" *ngIf="inscriptionForm.get('email')?.invalid  && (inscriptionForm.get('email')?.dirty || inscriptionForm.get('email')?.touched)">
                        Cet email n'est pas valide.
                    </div>
                </div>
                <div class="groupe-b2 column">
                    <div class="mdp column">
                        <label for="passwordRegistration">Password</label>
                        <input class="input100" type="text" class="input" id="passwordRegistration" formControlName="password"/> 
                        <div class="field-message" *ngIf="inscriptionForm.get('password')?.invalid  && (inscriptionForm.get('password')?.dirty || inscriptionForm.get('password')?.touched)">
                            Majuscules, minuscules, chiffres et 12 caractères minimum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bloc Inscrivez-vous + validation version desktop -->
        <div class="groupe-c">
            <div class="message">
                <p>Rejoignez-nous !</p>
                <p>L'inscription est gratuite, rapide et facile.</p>
                <span class=""></span>
            </div>
            <button class="btn" type="submit" [disabled]="inscriptionForm.invalid">S'inscrire</button>
        </div>
        <!-- validation version mobile  -->
        <button class="mobile-btn" type="submit" [disabled]="inscriptionForm.invalid">
            S'inscrire
        </button>
    </div>
</form>
