<form [formGroup]="myForm" (ngSubmit)="storeFullDatas(myForm)">
    <div class="wrapper">
        <div class="groupe-a">
            <h5><span>Coo</span><span>rdonnées</span></h5>
            <div class="groupe-a1 skin">
                <div>
                    <label>Titre</label>
                    <div class="radiobtn">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" formControlName="gender" value=1 checked>Madame
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" formControlName="gender" value=0>Monsieur
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="groupe-a2 inline skin">
                <div class="firstname column">
                    <label for="firstname">Nom</label>
                    <input type="text" class="input" name="firstname" formControlName="firstname" placeholder="Votre prénom"/> 
                </div>
                <div class="lastname column">
                    <label for="lastname">Prénom</label>
                    <input type="text" class="input" name="lastname" formControlName="lastname" placeholder="Votre nom"/> 
                </div>
            </div>
            <div class="groupe-a3 column skin">
                <label for="adress1">Adresse 1</label>
                <input type="text" class="input" name="adress1" formControlName="adress1" placeholder="Allée, rue, ..."/> 
            </div>
            <div class="groupe-a4 column skin">
                <label for="adress2">Adresse 2</label>
                <input type="text" class="input" name="adress2" formControlName="adress2" placeholder="N° apt, ..."/> 
            </div>

            <div class="groupe-a5 inline skin">
                <div class="zipcode column">
                    <label for="zipcode">Code postal</label>
                    <input type="text" class="input" name="zipcode" formControlName="zipcode" placeholder="code postal"/> 
                </div>
                <div class="city column">
                    <label for="city">Ville</label>
                    <input type="text" class="input" name="city" formControlName="city" placeholder="Ville"/> 
                </div>
            </div>
        </div>
        <div class="groupe-b">
            <h5><span>Com</span><span>pte</span></h5>
            <div class="groupe-b1 inline skin">
                <div class="pseudo column">
                    <label for="pseudo">Pseudo</label>
                    <input type="text" class="input" name="pseudo" formControlName="pseudo" placeholder="Votre pseudo"/> 
                </div>
                <div class="avatar column">
                    <label for="avatar">Image de profile</label>
                    <input type="text" class="input" name="avatar" formControlName="avatar" placeholder="Votre avatar"/> 
                </div>
            </div>
            <div class="groupe-b2 column skin">
                <label for="email">Email</label>
                <input type="text" class="input" name="email" formControlName="email" placeholder="Votre email"/> 
            </div>
            <div class="groupe-b3 column skin">
                <label for="conf-email">Email conf.</label>
                <input type="text" class="input" name="conf-email" formControlName="conf-email" placeholder="Confirmez votre email"/> 
            </div>
            <div class="groupe-b4 inline skin">
                <div class="mdp column">
                    <label for="mdp">Mdp</label>
                    <input type="text" class="input" name="mdp" formControlName="mdp" placeholder="Choisissez un mot de passe"/> 
                </div>
                <div class="conf-mdp column">
                    <label for="conf-mdp">Mdp conf.</label>
                    <input type="text" class="input" name="conf-mdp" formControlName="conf-mdp" placeholder="Confirmez votre mot de passe"/> 
                </div>
            </div>
            <div class="groupe-b5 column skin">
                <label for="bio">Bio</label>
                <textarea formControlName="bio" rows="6" placehoder="Parlez-nous de vous ..."></textarea>
            </div>
        </div>
        <div class="groupe-c between">
            <div class="message">
                <p>Rejoignez-nous !</p>
                <p>L'inscription est gratuite, rapide et facile.</p>
                <span class=""></span>
            </div>
            <button class="btn" type="submit">S'inscrire</button>
        </div>
    </div>
</form>
