<nav>
    <a href="#" [style.color]="color" [style.fontWeight]="fontWeight"><li>Education</li></a>
    <a href="#" [style.color]="color" [style.fontWeight]="fontWeight"><li>Métiers</li></a>
    <a href="#" [style.color]="color" [style.fontWeight]="fontWeight"><li>Arts</li></a>
    <a href="#" [style.color]="color" [style.fontWeight]="fontWeight"><li>Sciences</li></a>
    <a href="#" [style.color]="color" [style.fontWeight]="fontWeight"><li>Passions</li></a>
    <a href="#" [style.color]="color" [style.fontWeight]="fontWeight"><li>Technologies</li></a>
</nav>
