nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
}

a {
    color: var(--greytext);
    font-size: 20px;
    font-weight: 600;
}

li:hover {
    /* Effet + fin sur nav en position "normale", effet + épais sur nav en position décalée dans Header */
    font-weight: 500;
}