<header class="header">
    <div class="logo">
        <a href=""><img class="logo" src="../../../../assets/icones/identité/PDFStream.svg" alt="logo PDFStream"></a>
    </div>
    <!-- A FAIRE : Implentation du futur composant "recherche" -->
    <nav class="navigation">
      <div *ngIf="!isConnectedUser">
        <li (click)="openModale()">Connexion</li>
        <li (click)="routerInscription()">Inscription</li>
      </div>
      <div *ngIf="isConnectedUser">
        <li (click)="logoutUser()">Déconnexion</li>
        <li (click)="routerDashboard()">Compte</li>
        <!-- <li (click)="routerDashboard()" [textContent]="username">{{username}}</li> décalage d'affichage et bug CORS-->
        <!-- [(ngModel)]="username" provoque un message d'erreur : Avoid mixing ngModel and formControlName directives on the same element.-->
      </div>
    </nav>
    <!-- Modal -->
    <!-- [ngStyle]="{'display':displayStyle} =>  -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title title">Connexion</h4>
            <a type="button" 
                    (click)="closeModale()">
             <img src="../../../assets/icones/close.png" alt="close">
            </a>
        </div>
        <!-- Formulaire username & password -->
        <div class="modal-body">
            <form class="form" [formGroup]="authForm" (ngSubmit)="connexionUser()">
                <div class="column">
                    <div class="column">
                        <label for="username">Username</label>
                        <input type="text" class="input" id="username" formControlName="username"/> 
                    </div>
                    <div class="column">
                        <label for="password">Password</label>
                        <input type="password" class="input" id="password" formControlName="password"/> 
                    </div>
                </div>
                <!-- [disabled] => si les champs requis ne sont pas tous remplis, le btn de validation est inactif -->
                <button class="submit-btn" type="submit" [disabled]="authForm.invalid">Connexion</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</header>
