<header class="header">
    <div class="logo">
        <a href=""><img class="logo" src="../../../../assets/icones/identité/PDFStream.svg" alt="logo PDFStream"></a>
    </div>

    <!-- A FAIRE : Implentation du futur composant "recherche" -->

    <!-- Navigation desktop -->
    <nav class="desk-navigation">
      <div *ngIf="isConnectedUser == false">
        <li (click)="routerInscription()">Inscription</li>
        <li (click)="openModale()">Connexion</li>
      </div>
      <div class="desk-icons" *ngIf="isConnectedUser">
        <div class="account-logo">
          <span class="user-identity" (click)="routerDashboard()"><mat-icon class="user-icon">account_circle</mat-icon></span> 
          <li (click)="routerDashboard()" [textContent]="username">{{username}}</li>
        </div>
        <mat-icon (click)="logoutUser()">logout</mat-icon>
      </div>
    </nav>
    <!-- Navigation desktop -->
    <!-- Navigation mobile -->
    <nav class="mobile-navigation">
      <div class="mobile-icons" *ngIf="isConnectedUser == false">
        <mat-icon (click)="routerInscription()">person_add</mat-icon>
        <mat-icon (click)="openModale()">login</mat-icon>
      </div>
      <div class="mobile-icons" *ngIf="isConnectedUser">
        <mat-icon (click)="routerDashboard()">account_circle</mat-icon>
        <mat-icon (click)="logoutUser()">logout</mat-icon>
      </div>
    </nav>
    <!-- Navigation mobile -->

    <!-- Modal -->
    <!-- [ngStyle]="{'display':displayStyle} =>  -->
    <div div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title title">Connexion</h4>
                <a type="button" 
                        (click)="closeModale()">
                <img class="modal-close-button" src="../../../assets/icones/close.png" alt="close">
                </a>
            </div>
            <!-- Formulaire username & password -->
            <div class="modal-body">
                <form class="form" [formGroup]="authForm" (ngSubmit)="connexionUser()">
                    <div class="column">
                        <div class="column">
                            <label for="username">Username</label>
                            <input type="text" class="input" id="username" formControlName="username"/> 
                        </div>
                        <label for="password">Password</label>
                        <div class="password-wrapper">
                          <!-- (keydown.enter)="$event.preventDefault()" empêche la soumission par touche enter (sinon le password apparait) -->
                          <input type="password" class="input" id="password" formControlName="password" (keydown.enter)="$event.preventDefault()"/>
                          <button class="input-button" type="button" (click)="toggleVisibility()"><mat-icon >{{isVisible == true ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                        </div>
                    </div>
                    <!-- [disabled] => si les champs requis ne sont pas tous remplis, le btn de validation est inactif -->
                    <button class="submit-btn" type="submit" [disabled]="authForm.invalid">Connexion</button>
                </form>
            </div>
          </div>
        </div>
      </div>
</header>
