.container {
    height: 100px;
    width: 100px;
    background-color: var(--night);
    padding: 35px;
    position: fixed;
    bottom: 63px;
    right: 0;
    z-index: 1;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 750px) {
    .container {
      height: 74px;
      width: 74px;
      padding: 29px;
      bottom: 74px;
      left: -503px;
    }
  
    img {
      height: 14px;
      width: 14px;
    }
  }