.wrapper {
    width: 100%;
    height: 100%;
}

/* IMAGE PREVIEW PDF */

.preview-title {
    text-align: center;
    color: var(--night);
}

.image-pdf {
    max-width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* .spinner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #C0392B; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }


.preview-pdf {
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 10px;
}

/* DETAILS DU PDF */
/* .details-pdf {
    max-width: 50%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
} */

ul {
    max-width: 100%;
}

li {
    margin: 1%;
}

.titre-pdf {
    font-size: clamp(1.25rem, 1.0714rem + 0.5714vw, 1.5rem);
    font-weight: 600;
}

/* BOUTON */
.flexbtns {
    display: flex;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--night);
    width: 385px;
    height: 170px;
    color: var(--white);
    border-radius: 10px;
}

.btn {
    width: 182px;
    height: 43px;
    background-color: var(--skin);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2%;
}

.incitation-msg {
    font-size: 24px;
}

.consigne-msg {
    font-size: 12px;
}

/* MODALE */
.modal {
    background-color: #2b2b2ba2;
    overflow-y: hidden;
}

.modal-dialog {
    /* hauteur 100vh pour ensuite centrer le modal-content */
    height: 100%; 
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.modal-span-pdf {
    font-size: clamp(1rem, 0.1071rem + 2.8571vw, 2.25rem);
    font-weight: 800;
}
.modal-span-stream {
    font-size: clamp(1rem, 0.1071rem + 2.8571vw, 2.25rem);
    font-weight: 800;
    color: var(--red);
}
.modal-span-modif {
    font-size: clamp(1rem, 0.1071rem + 2.8571vw, 2.25rem);
}

.modal-body {
    width: 100%;
}

.modal-title {
    font-size: 16px;
}

.modal-content {
    background-color: var(--skin);
    max-width:100%;
}

.download {
    background-color: var(--blue);
    color: var(--white);
}

.cancel {
    border: 2px solid black;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.groupe-b {
    text-align: end;
}

/* ############################################ */
/* ############## MEDIAQUERIES ################ */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section {
        height:100%;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 0;
        margin-bottom: 20%;
    }

    .spinner-wrapper {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
    }
    
    .image-pdf {
        margin-top: 1%;
    }
    
    .details-pdf {
        padding: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        min-width: 100%;
    }

    ul {
        margin-bottom: 1%;
        padding: unset;
        text-align: center;
    }

    .flexbtns {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .btn-wrapper {
        margin-bottom: 1%;
        width: 300px;
    }

    .modal-dialog {
        margin-left: 2%;
        margin-right: 2%;
    }

    .groupe-b {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 0;
        margin-bottom: 20%;
    }

    .spinner-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
    }

    .image-pdf {
        margin-top: 1%;
    }

    .details-pdf {
        padding: unset;
        margin-top: 1%;
        margin-bottom: 1%;
        min-width: 100%;
    }

    ul {
        margin-bottom: 1%;
        padding: unset;
        text-align: center;
    }

    .flexbtns {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .btn-wrapper {
        margin-bottom: 1%;
        margin: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .groupe-b {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 5%;
    }

    .spinner-wrapper {
        margin-top: 15%;
    }

    .details-pdf {
        padding: 0 10% 0 10%;
        /* Fixé lors du scroll */
        position: fixed;
        top: 40%;
        right: 0;
        min-width: unset;
        max-width: 50%;
    }

    .flexbtns {
        display: flex;
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}