<article class="wrapper">
    <div class="image-pdf">
        <img class="preview-pdf" src="{{pdfPreview}}" alt="première page de {{pdfDatas?.title}}">
    </div>
    <div class="details-pdf">
        <ul>
            <li class="titre-pdf">Titre : {{pdfDatas?.title}}</li>
            <li>Auteur : {{pdfDatas?.author?.username}}</li>
            <li>{{pdfDatas?.description}}</li>
        </ul>
        <div>
            <!-- Btn utilisateur connecté -->
            <!-- Téléchargement je passe directement pdfId du .ts récupéré de la route  -->
            <button *ngIf="isConnectedUser == true" class="btn" type="submit" (click)="downloadPdf(pdfId)">
                Télécharger
            </button>
            <!-- Btn utilisateur non connecté -->
            <!-- Téléchargement je passe directement pdfId du .ts récupéré de la route  -->
            <div class="btn-wrapper" *ngIf="isConnectedUser == false">
                <p class="incitation-msg">Une envie de télécharger ?</p>
                <button class="btn" type="submit" (click)="routerInscription()">
                    Inscription
                </button>
                <p class="consigne-msg">Nécesssite d'être connecté.</p>
            </div>
        </div>
    </div>
</article>
