.wrapper {
    /* height: 100%; */
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOUTON */
.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--night);
    width: 385px;
    height: 170px;
    color: var(--white);
    border-radius: 10px;
}

.btn {
    width: 182px;
    height: 43px;
    background-color: var(--skin);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.incitation-msg {
    font-size: 24px;
}

.consigne-msg {
    font-size: 12px;
}

/* IMAGE DE PREVIEW DU PDF */
.preview-pdf {
    width: 52%;
    border: 1px solid var(--black);
    border-radius: 10px;
}

/* DETAILS DU PDF */
.details-pdf {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-pdf {
    font-size: 24px;
}