<section>
    <div class="pdfs-mat-table">
        <table mat-table matSort [dataSource]="dataSource" class="table table-striped table-hover">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text">PDF</th>
                <td mat-cell *matCellDef="let pdf" class="text" (click)="routerToPdfPage(pdf?.id)">{{ pdf?.title }}</td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="date">MISE EN LIGNE</th>
                <td mat-cell *matCellDef="let pdf" class="text" (click)="routerToPdfPage(pdf?.id)">{{ pdf?.createdAt }}</td>
            </ng-container>
            <ng-container matColumnDef="counter">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text">NBRE TELECHARGEMENTS</th>
                <td mat-cell *matCellDef="let pdf" class="text" (click)="routerToPdfPage(pdf?.id)">{{ pdf?.counter }}</td>
            </ng-container>
            <ng-container matColumnDef="evaluation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text evaluation">EVALUATIONS</th>
                <td mat-cell *matCellDef="let pdf" class="text evaluation" (click)="routerToPdfPage(pdf?.id)">{{ pdf?.evaluations }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
        </table>
        <mat-form-field>
            <!-- <mat-label>Filtre</mat-label> -->
            <input matInput (keyup)="applyFilter($event)" placeholder="Search ..." #input>
        </mat-form-field>

        <mat-paginator [pageSizeOptions]="[5]" 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <div class="user-infos">
        <h3>Auteur: {{userDatas?.username}}</h3>
        <p>{{userDatas?.bio}}</p>
        <hr>
        <div class="flexbtns">
            <!-- Btn utilisateur connecté -->
            <!-- Téléchargement je passe directement pdfId du .ts récupéré de la route  -->
            <button  class="btn" type="submit">
                S'abonner
            </button>
            <!-- Author  je passe directement pdfId du .ts récupéré de la route  -->
            <button  class="btn btn-author" type="submit">
                Don à l'auteur
            </button>
        </div>
        <hr>
    </div>
    <app-back-button></app-back-button>
</section>
        