section {
    display: flex;
    flex-direction: column;
}

.banner {
    align-self: center;
    margin-bottom: 1%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.left-nav {
    margin: 4%;
}

.border {
    margin: 2%;
    border: 1px solid black;
    height: 40vh;
}

.listing {
    margin-top: 2%;
    gap: 5%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2%;
}

.left-nav .border .listing {
    margin:auto;
}

a {
    color: var(--black);
}

a:hover {
    color: var(--greytext);
    font-weight: bold;
}

nav {
    margin-bottom: 2%;
}

.pdfs-list {
    margin-top: 10%;
}

/* ############################################ */
/* ############## MEDIAQUERIES ################ */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints */

/* Header, Footer & Banner ont les même breakpoints et modifient leurs apparences selon
ces mêmes breakpoints 
=> par ex: Header show/unshow nav droite, 
=> footer show/unshow burger 
=> banner est modifié en version mobile ...*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section {
        position: relative;
        min-height: 100vh;
        /* 50px est la hauteur estimée du footer */
        max-height: calc(100vh - 50px);
        /* Ajoutez un défilement vertical si le contenu dépasse la hauteur maximale */
        overflow-y: auto;
    }

    .left-nav {
        max-width: 50%;
        position: fixed;
        top: 10%;
        left: 1%;
        z-index: 2;
    }

    .border {
        display: none;
    }

    .listing {
        max-width: 50%;
        position: absolute;
        justify-content: center;
        top: 10%;
        right: 0;
        overflow: hidden;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .listing {
        margin-bottom: 2%;
    }
}


