<section>
    <app-banner [bannerByCategory]="parentCategory" class="banner"></app-banner>
    <div class="wrapper">
        <!-- Ici la navigation gauche  -->
        <div class="left-nav">
            <h4 *ngIf="parentCategory">Catégorie - {{parentCategory.title}}</h4>
            <nav *ngFor="let childCategories of childsCategorieList">
                <a [routerLink]="['/category', childCategories.id]">{{childCategories.title}}</a>
                <!-- <a [routerLink]="['/childCategory', childCategories.id]">{{childCategories.title}}</a> -->
            </nav>
        </div>
        <span class="border"></span>
        <!-- Ici les cards des catégories -->
        <app-category-card [categories]="childsCategorieList" class="listing"></app-category-card>
        <!-- Ici les cards des pdfs si prop existe && liste supérieure à 0 -->
        <app-pdfs-list *ngIf="parentCategory!.pdfList! != null && parentCategory!.pdfList!.length > 0" [thisCategoryPdfsList]="thisCategoryPdfsList"></app-pdfs-list>
    </div>
</section>
