.wrapper {
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
}

.left-nav {
    margin: 4%;
}

.border {
    margin: 2%;
    border: 1px solid black;
    height: 40vh;
}

.listing {
    margin-top: 2%;
    gap: 5%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--black);
}

a:hover {
    color: var(--greytext);
    font-weight: bold;
}

nav {
    margin-bottom: 2%;
}