<div class="wrapper cards" *ngFor="let pdf of thisCategoryPdfsList">
  <a [routerLink]="['/category', parentCategory!.id, pdf.id]">
    <img img src="data:image/png;base64, {{pdf.image}}" alt="image du pdf {{pdf.title}}" class="image-card" />
  </a>
  <a [routerLink]="['/category', parentCategory!.id, pdf.id]">
  <!-- bandeau -->
  <span class="image-banner">
    <p class="image-banner-details">{{pdf.title}}</p> 
    <p class="image-banner-details">{{ pdf.size!| fileSize }}</p>
    <p class="image-banner-details">{{pdf.author?.username}}</p>
  </span>
  </a>
</div>



