.cards {
    margin: 2%;
}

/* les positions bug et mettent les éléments en z-index supérieur ...*/

/* .image-card {
 position: relative;
} */
    
.image-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    /* position: absolute;
    bottom: 0;
    left: -5px; */
    width: 240px;
    height: 57px;
    background-color: black;
}

.image-banner-details {
    color: var(--white);
    font-size: 12px;
    margin-bottom: 0;
}

.wrapper {
display: flex;
flex-direction: column;
}
