.cards {
    margin: 2%;
}
    
.image-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 240px;
    height: 57px;
    background-color: black;
}

.image-banner-details {
    color: var(--white);
    font-size: 12px;
    margin-bottom: 0;
}

.wrapper {
display: flex;
flex-direction: column;
}

/* ############################################ */
/* ############## MEDIAQUERIES ################ */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints */

/* Header, Footer & Banner ont les même breakpoints et modifient leurs apparences selon
ces mêmes breakpoints 
=> par ex: Header show/unshow nav droite, 
=> footer show/unshow burger 
=> banner est modifié en version mobile ...*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 20%;
    }

    img {
        width: 150px;
    }

    .image-banner {
        width: 150px;
        height: 57px;
        padding: 1%;
    }

    .image-banner-details {
        font-size: 9px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {
        margin-bottom: 10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 998px) {
    .wrapper {
        margin-bottom: 5%;
    }
}
