<article>
    <!-- Version desktop -->
    <div class="desktop">
        <div class="header">
            <span class="redtext">In</span>
            <span class="blacktext">scrivez-vous !</span>
        </div>
        <div class="body">
            <p class="text">
                Découvrez une communauté dynamique où partager et explorer des connaissances à travers des PDF captivants. Inscrivez-vous dès maintenant pour créer votre profil, télécharger des contenus exclusifs et contribuer à une bibliothèque collaborative. Rejoignez-nous dans l'échange et l'exploration !
            </p>
            <button class="button" type= "button" (click)="routerInscription()">
                S'inscrire
            </button>
        </div>
    </div>
    <!-- Version mobile -->
    <div class="mobile">
        <div>
            <span class="redtext">In</span>
            <span class="blacktext">scrivez-vous !</span>
        </div>
        <p class="mobile-txt">
            Découvrez une communauté dynamique où partager et explorer des connaissances à travers des PDF captivants. Inscrivez-vous dès maintenant pour créer votre profil, télécharger des contenus exclusifs et contribuer à une bibliothèque collaborative. Rejoignez-nous dans l'échange et l'exploration !
        </p>
        <button class="mobile-btn" type= "button" (click)="routerInscription()">
            S'inscrire
        </button>
    </div>
</article>
