.redtext {
    font-size: 40px;
    color: var(--red);
    font-weight: 1000;
}

.blacktext {
    font-size: 24px;
    color: var(--black);
    font-weight: 1000;
}

.text {
    font-size: clamp(0.625rem, 0rem + 1.6667vw, 1.25rem);
    color: var(--greytext);
    text-align: justify;
}

.button {
    width: 182px;
    height: 43px;
    align-self: flex-end;
    background-color: var(--skin);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    padding: 5px;
}

/* version desktop */
.header {
    min-width: 240px;
    height: 200px;
    background-color: var(--skin);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--skin);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

/* version mobile */
.mobile {
    min-width: 350px;
    min-height: 215px;
    border-radius: 5px;
    background-color: var(--skin);
    padding: 10px;
    text-align: center;
}

.mobile-txt {
    font-size: 15px;
    color: var(--greytext);
    text-align: justify;
}

.mobile-btn {
    width: 182px;
    height: 43px;
    background-color: var(--skin);
    font-size: 20px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

/* image */

img {
    max-width: 100%;
    height:100%;
}

/* ############################################ */
/* ############## MEDIAQUERIES ################ */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    article {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    article {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: inline-flex;
    }

    article {
        margin-right: 70px;
        margin-left: 70px;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: inline-flex;
    }

    article {
        margin-right: 70px;
        margin-left: 70px;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: inline-flex;
    }

    article {
        margin-right: 70px;
        margin-left: 70px;
        }
}