<section>
    <div>
        <table mat-table matSort [dataSource]="dataSource" class="table table-striped table-hover">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text">PDF</th>
                <td mat-cell *matCellDef="let pdf" class="text">{{ pdf?.title }}</td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="date">DATE UPLOAD</th>
                <td mat-cell *matCellDef="let pdf" class="text">{{ pdf?.createdAt }}</td>
            </ng-container>
            <ng-container matColumnDef="evaluation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text">EVALUATIONS RECUES</th>
                <td mat-cell *matCellDef="let pdf" class="text">{{ pdf?.evaluations }}</td>
            </ng-container>
            <ng-container matColumnDef="config">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text">ACTIONS</th>
                <td mat-cell *matCellDef="let pdf"> <a type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#modaleModification" (click)="openUpdateModale(pdf)"><mat-icon>build</mat-icon></a>
                    <!-- Si j'ouvre une modale souci => undefined -->
                    <button type="button" class="btn btn-danger" (click)="openDeleteModale(pdf)"
                    ><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
        </table>
        <mat-form-field>
            <mat-label>Filtre</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search ..." #input>
        </mat-form-field>

        <mat-paginator [pageSizeOptions]="[10]" 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

        <!-- BTN d'upload d'un nouveau pdf, ouverture modale et reset du form -->
        <button class="custbtn btn-block btn-outline-success add" type="button" data-toggle="modal"
        data-target="#modaleCreation" (click)="openCreationModale()">Ajouter</button>
        <!-- BTN d'ajout d'un nouveau pdf -->

            <!-- Si liste vide message suivant apparait -->
    <div *ngIf="uploadedPdf!.length == 0" class="flex-container-row">
        <h1>Tu n'as partagé aucun de tes pdfs ..., Il est temps de s'y mettre ! </h1>
    </div>
    <!-- Si liste vide message suivant apparait -->

        <!-- DEBUT - Modal de création  -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayCreationModale}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <div class="modal-title"><span class="modal-span-PDF">PDF</span><span class="modal-span-STREAM">Stream</span><span class="modal-span-MODIF"> - Ajout d'un PDF</span></div>
                        <a type="button" 
                                (click)="closeCreationModale()">
                        <img src="../../../assets/icones/close.png" alt="close">
                        </a>
                    </div>
                    <!-- Formulaire de création d'un pdf'-->
                    <div class="modal-body">
                        <form class="form" [formGroup]="createForm" (ngSubmit)="createPdf()" enctype="multipart/form-data" method = "post">
                        <!-- <form class="form"> -->
                            <div class="wrapper">
                                    <div class="groupe-a">
                                        <div class="column">
                                            <div class="inline-or-column">
                                                <label for="smallDescription">Chapeau :</label>
                                                <input type="text" class="input" id="smallDescription"formControlName="smallDescription" /> 
                                            </div>
                                            <div class="inline-or-column">
                                                <label for="description">Description : </label>
                                                <textarea class="input" id="description" formControlName="description"></textarea>
                                            </div>
                                            <div class="inline-or-column">
                                                <label for="pdfFile">Pdf : </label>
                                                <input type="file" class="input" id="pdfFile" formControlName="pdfFile"/> 
                                            </div>
                                            <!-- Adapter à catégorie -->
                                            <div class="form-group row mb-2">
                                                <label class="col-md-3 col-form-label" for="categories">Catégorie  : </label>
                                                <div class="select col-md-9">
                                                    <select name="categories" class="form-select" 
                                                    id="categories" formControlName="categories">
                                                        <option class="dropdown-item">
                                                            Sélection de la catégorie
                                                        </option>
                                                        <!-- [value] pour type string only, [ngValue] pour any type  -->
                                                        <option *ngFor="let categorie of allCategories; let x = index" class="dropdown-item"
                                                            [ngValue]="categorie.id">
                                                            <!-- Je veux pouvoir afficher le nom du poste au lieu de l'id -->
                                                            <!-- mais passer la valeur de l'id à ngModel -->
                                                            {{categorie.title}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Bloc boutons -->
                                <div class="groupe-b">
                                    <button class="custbtn delete" type="submit" (click)="closeCreationModale()">Annuler</button>
                                    <button class="custbtn modify" type="submit">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN - Modal de création du formulaire  -->

        <!-- DEBUT - Modal de modification  -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayUpdateModale}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <div class="modal-title"><span class="modal-span-PDF">PDF</span><span class="modal-span-STREAM">Stream</span><span class="modal-span-MODIF"> - Modifier un PDF</span></div>
                        <a type="button" 
                                (click)="closeUpdateModale()">
                        <img src="../../../assets/icones/close.png" alt="close">
                        </a>
                    </div>
                    <!-- Formulaire de modification des détails user-->
                    <div class="modal-body">
                        <form class="form" [formGroup]="updateForm" (ngSubmit)="updatePdf()" enctype="multipart/form-data"> 
                        <!-- <form class="form"> -->
                            <div class="wrapper">
                                    <div class="groupe-a">
                                        <div class="column">
                                            <div class="inline-or-column">
                                                <label for="pdfUpdatedSmallDesc">Chapeau :</label>
                                                <input type="text" class="input" id="pdfUpdatedSmallDesc"formControlName="pdfUpdatedSmallDesc" [value]="pdfSmallDesc"/> 
                                            </div>
                                            <div class="inline-or-column">
                                                <label for="pdfUpdatedDesc">Description : </label>
                                                <textarea class="input" id="pdfUpdatedDesc" formControlName="pdfUpdatedDesc" [value]="pdfDesc"></textarea>
                                            </div>
                                            <!-- <div class="inline-or-column">
                                                <label for="pdfUpdatedImage">Image : </label>
                                                <input type="file" class="input" id="pdfUpdatedImage" formControlName="pdfUpdatedImage" accept="image/*,.pdf"/> 
                                            </div> -->
                                            <div class="inline-or-column">
                                                <label for="pdfUpdatedFile">Pdf : </label>
                                                <input type="file" class="input" id="pdfUpdatedFile" formControlName="pdfUpdatedFile" accept=".pdf"/> 
                                            </div>
                                            <!-- Adapter à catégorie -->
                                            <div class="form-group row mb-2">
                                                <label class="col-md-3 col-form-label" for="pdfUpdatedCategory">Catégorie : </label>
                                                <div class="select col-md-9">
                                                    <select name="pdfUpdatedCategory" class="form-select" 
                                                    id="pdfUpdatedCategory" formControlName="pdfUpdatedCategory" [value]="pdfCategory">
                                                        <option class="dropdown-item">
                                                            Sélection de la catégorie
                                                        </option>
                                                        <!-- [value] pour type string only, [ngValue] pour any type  -->
                                                        <option *ngFor="let categorie of allCategories; let x = index" class="dropdown-item"
                                                            [value]="categorie.id">
                                                            <!-- Je veux pouvoir afficher le nom du poste au lieu de l'id -->
                                                            <!-- mais passer la valeur de l'id à ngModel -->
                                                            {{categorie.title}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Bloc boutons -->
                                <div class="groupe-b">
                                    <button class="custbtn delete" type="submit" (click)="closeUpdateModale()">Annuler</button>
                                    <button class="custbtn modify" type="submit">Modifier</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN - Modal de modification  -->

    <!-- DEBUT - Modale pour warning suppression de compte -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteModale}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <div class="modal-title"><span class="modal-span-PDF">PDF</span><span class="modal-span-STREAM">Stream</span><span class="modal-span-MODIF"> - Suppression d'un PDF</span></div>
                    <a type="button" 
                            (click)="closeDeleteModale()">
                    <img src="../../../assets/icones/close.png" alt="close">
                    </a>
                </div>
                <!-- Formulaire de modification des détails user-->
                <div class="modal-body">
                    <form class="form" (click)="deletePdf()">
                    <!-- <form class="form" [formGroup]="updateForm" (ngSubmit)="deleteAccount()"> -->
                        <div class="wrapper">
                                <div class="groupe-a">
                                    <div class="column">
                                        <p>Cette action va définitivement supprimer ce PDF de vos fichiers partagés !</p>
                                        <p>Confirmez-vous la suppression du PDF ?</p>
                                    </div>
                                </div>
                            <!-- Bloc boutons -->
                            <div class="groupe-b">
                                <button class="custbtn modify" type="button" (click)="closeDeleteModale()">Annuler</button>
                                <button class="custbtn delete" type="submit">Supprimer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN - Modale pour warning suppression de compte -->

</section>
