<section class="dashboard pe-4 ps-4">
    <ul class="nav nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="compte-tab" data-bs-toggle="tab" data-bs-target="#compte" type="button" role="tab" aria-controls="compte" aria-selected="true">Compte</a>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <a class="nav-link" id="collection-tab" data-bs-toggle="tab" data-bs-target="#collection" type="button" role="tab" aria-controls="collection" aria-selected="false">Collection</a>
        </li> -->
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="partages-tab" data-bs-toggle="tab" data-bs-target="#partages" type="button" role="tab" aria-controls="partages" aria-selected="false" data-test-id="partages">Partages</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="charte-tab" data-bs-toggle="tab" data-bs-target="#charte" type="button" role="tab" aria-controls="charte" aria-selected="false">Charte</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="compte" role="tabpanel" aria-labelledby="compte-tab"><app-account></app-account></div>
        <!-- <div class="tab-pane fade" id="collection" role="tabpanel" aria-labelledby="collection-tab"><app-collection></app-collection></div> -->
        <div class="tab-pane fade" id="partages" role="tabpanel" aria-labelledby="partages-tab"><app-shares></app-shares></div>
        <div class="tab-pane fade" id="charte" role="tabpanel" aria-labelledby="charte-tab"><app-convention></app-convention></div>
      </div>
</section>
