section {
    height: 100%;
}

.nav {
    margin-bottom: 1%;
}

.nav-item > a {
    color: var(--lightGreytext);
    font-size: 20px;
    font-weight: 600;
}

#compte-tab.nav-link.active {
    color: var(--lightRed); 
    text-shadow: 1px 1px 1px var(--lightRed), 0 0 2px var(--lightRed);
}

/* #collection-tab.nav-link.active {
    color: var(--red); 
    text-shadow: 2px 2px;
} */

#partages-tab.nav-link.active {
    color: var(--lightRed); 
    text-shadow: 1px 1px 1px var(--lightRed), 0 0 2px var(--lightRed);
}

#charte-tab.nav-link.active {
    color: var(--lightRed); 
    text-shadow: 1px 1px 1px var(--lightRed), 0 0 2px var(--lightRed);
}

.account {
    width: 100vh;
}

