/* FORMULAIRES => INPUTS ET LABELS */
.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.525);
    border-radius: 5px;
    line-height: 35px;
}

.bio-label {
    height: 200%;
}

.button {
    width: 182px;
    height: 43px;
    align-self: flex-end;
    background-color: var(--skin);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    padding: 5px;
}

.button.delete {
    margin-right: unset;
}

/* MODALE */
.modal {
    background-color: #2b2b2ba2;
    overflow-y: hidden;
}

.modal-dialog {
    /* hauteur 100vh pour ensuite centrer le modal-content */
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-span-pdf {
    font-size: clamp(1rem, 0.1071rem + 2.8571vw, 2.25rem);
    font-weight: 800;
}

.modal-span-stream {
    font-size: clamp(1rem, 0.1071rem + 2.8571vw, 2.25rem);
    font-weight: 800;
    color: var(--red);
}

.modal-span-modif {
    font-size: clamp(1rem, 0.1071rem + 2.8571vw, 2.25rem);
}

.modal-body {
    width: 100%;
}

.modal-title {
    font-size: 16px;
}

.modal-content {
    background-color: var(--skin);
    width:fit-content;
}

.delete  {
    background-color: var(--red);
    color: var(--white);
}

.modify {
    border: 2px solid black;
}


/* FORMULAIRE MESSAGES ERREURS */

.field-message {
    font-size: 10px;
    color: red;
    font-weight: bold;
}

/* ############################################ */
/* ############## MEDIAQUERIES ################ */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    label {
        width: 200px;
    }
    
    .groupe-b {
        margin-top: 2%;
        /* align-self: center; */
        text-align: center;
    }

    .button {
        margin-right: unset;
    }

    button {
        margin: 2%;
    }
    
    input {
        margin-bottom: 5%;
        color: var(--lightGreytext);
        padding: 1%;
        min-width: 100%;
    }

    textarea {
        min-width: 100%;
        color: var(--lightGreytext);
        padding: 1%;
    }

    .inline-or-column {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    label {
    width: 20%;
    align-self: flex-start;
    margin-bottom: 1%;
    }

    input {
        width: 100%;
        padding: 5px;
        margin-bottom: 1%;
        color: var(--lightGreytext);
    }

    /* input #updatedUsername, #updatedAvatar, #updatedEmail, #updatedPassword, #updatedBio {
        width: 100%;
    } */

    textarea {
        width: 100%;
        color: var(--lightGreytext);
        padding: 5px;
    }

    .inline-or-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    .groupe-b {
        text-align: center;
        align-items: center;
        margin-top: 2%;
    }

    button {
        margin: 2%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .inline-or-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1%;
    }

    .input {
        margin-bottom: none;
    }

    .groupe-b {
        text-align: end;
        margin-top: unset;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 990px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}