<section>
    <!-- DEBUT - Formulaire de présentation non modifiable -->
    <form class="form">
        <div class="wrapper">
                <div class="groupe-a">
                    <div class="column">
                        <div class="inline-or-column">
                            <label for="registeredUsername">Username</label>
                            <input type="text" name="registeredUsername" class="input" id="registeredUsername" [value]="username" readonly="readonly"/> 
                        </div>
                        <div class="inline-or-column">
                            <label for="registeredAvatar">Avatar</label>
                            <input type="text" name="registeredAvatar" class="input" id="registeredAvatar" [value]="avatar" readonly="readonly" /> 
                            <!-- Voir commment aficher un aperçu de l'avatar -->
                            <!-- <img img src="data:image/png;base64, {{avatar}}" alt="avatar {{avatar.title}}" class="image-card" /> -->
                        </div>
                        <div class="inline-or-column">
                            <label for="registeredEmail">Email</label>
                            <input type="text" name="registeredEmail" class="input" id="registeredEmail" [value]="email" readonly="readonly" /> 
                        </div>
                        <div class="inline-or-column">
                            <label for="regiteredPassword">Password</label>
                            <input type="password" name="regiteredPassword" class="input" id="regiteredPassword" readonly="readonly" placeholder="Mon mot de passe ..."/> 
                        </div>
                        <div class="inline-or-column">
                            <label for="registeredBio">Bio</label>
                            <textarea class="textarea" name="registeredBio" id="registeredBio" rows="5"  [value]="bio" readonly="readonly" ></textarea>
                        </div>
                    </div>
                </div>
            <!-- Bloc boutons -->
            <div class="groupe-b">
                <button class="button" type="submit" (click)="openUpdateModale()">Modifier</button>
                <button class="button delete" type="submit" (click)="openDeleteModale()">Supprimer</button>
            </div>
        </div>
    </form>
    <!-- DEBUT - Formulaire de présentation non modifiable -->
    
    <!-- DEBUT - Modal de modification du formulaire -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <div class="modal-title"><span class="modal-span-pdf">PDF</span><span class="modal-span-stream">Stream</span><span class="modal-span-modif"> - Modification de compte</span></div>
                    <a type="button" 
                            (click)="closeUpdateModale()">
                    <img src="../../../assets/icones/close.png" alt="close">
                    </a>
                </div>
                <!-- Formulaire de modification des détails user-->
                <div class="modal-body">
                    <form class="form" [formGroup]="updateForm" (ngSubmit)="updateAccount()" enctype="multipart/form-data" method = "put">
                        <div class="wrapper">
                                <div class="groupe-a">
                                    <div class="column">
                                        <div class="column">
                                            <label for="updatedUsername">Username</label>
                                            <input type="text" class="input" id="updatedUsername" formControlName="updatedUsername" [value]="username"/> 
                                            <div class="field-message" *ngIf="updateForm.get('updatedUsername')?.invalid  && (updateForm.get('updatedUsername')?.dirty || updateForm.get('updatedUsername')?.touched)">
                                                De 3 à 15 caractères alphanumérics.
                                            </div>
                                            <div class="field-message" *ngIf="updateForm.get('updatedUsername')?.touched">
                                                (La changement apparaîtra lors de votre prochaine connexion)
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label for="updatedAvatar">Avatar</label>
                                            <input type="file" class="input" id="updatedAvatar"formControlName="updatedAvatar" accept="image/*" [value]="avatar"/> 
                                        </div>
                                        <div class="column">
                                            <label for="updatedEmail">Email</label>
                                            <input type="text" class="input" id="updatedEmail" formControlName="updatedEmail" [value]="email"/> 
                                            <div class="field-message" *ngIf="updateForm.get('updatedEmail')?.invalid  && (updateForm.get('updatedEmail')?.dirty || updateForm.get('updatedEmail')?.touched)">
                                                Cet email n'est pas valide.
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label for="updatedPassword">Password</label>
                                            <input type="password" class="input" id="updatedPassword" formControlName="updatedPassword" placeholder="Mon mot de passe ..."/> 
                                            <div class="field-message" *ngIf="updateForm.get('updatedPassword')?.invalid  && (updateForm.get('updatedPassword')?.dirty || updateForm.get('updatedPassword')?.touched)">
                                                Majuscules, minuscules, chiffres et 12 caractères minimum.
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label for="updatedBio">Bio</label>
                                            <textarea class="textarea" id="updatedBio" formControlName="updatedBio" rows="10" [value]="bio"></textarea>
                                        </div>
                                    </div>
                                </div>
                            <!-- Bloc boutons -->
                            <div class="groupe-b">
                                <button class="btn delete" type="button" (click)="closeUpdateModale()">Annuler</button>
                                <button class="btn modify" type="submit">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN - Modal de modification du formulaire  -->

    <!-- DEBUT - Modale pour warning suppression de compte -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteModaleStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <div class="modal-title"><span class="modal-span-pdf">PDF</span><span class="modal-span-stream">Stream</span><span class="modal-span-modif"> - Suppression de compte</span></div>
                    <a type="button" 
                            (click)="closeDeleteModale()">
                    <img src="../../../assets/icones/close.png" alt="close">
                    </a>
                </div>
                <!-- Formulaire de modification des détails user-->
                <div class="modal-body">
                    <form class="form" [formGroup]="updateForm" (ngSubmit)="deleteAccount()">
                        <div class="wrapper">
                                <div class="groupe-a">
                                    <div class="column">
                                        <p>Cette action va définitivement supprimer votre compte ainsi que votre historique de téléchargements et de fichiers partagés !</p>
                                        <p>Confirmez-vous la suppression du compte ?</p>
                                    </div>
                                </div>
                            <!-- Bloc boutons -->
                            <div class="groupe-b">
                                <button class="btn modify" type="button" (click)="closeDeleteModale()">Annuler</button>
                                <button class="btn delete" type="submit" >Supprimer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN - Modale pour warning suppression de compte -->
</section>
