/* répartition header et footer */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form {
    margin-right: 2%;
    margin-left: 2%;
}

/* ############################################ */
/* ############## MEDIAQUERIES ################ */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        .nav {
            display: none;
        }

        .form {
            margin-top: 2%;
        }

        .appfooter {
            position: sticky;
            bottom: 0;
            left: 0;
        }

        .appheader {
            position: sticky;
            top: 0;
            left: 0;
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        .nav {
            display: none;
        }

        .form {
            margin-top: 2%;
        }

        .appfooter {
            position: sticky;
            bottom: 0;
            left: 0;
        }

        .appheader {
            position: sticky;
            top: 0;
            left: 0;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav {
        display: none;
    }

    .form {
        margin-top: 2%;
    }

    .appfooter {
        position: sticky;
        bottom: 0;
        left: 0;
    }

    .appheader {
        position: sticky;
        top: 0;
        left: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
        .nav {
            display: block;
        }

        .form {
            margin-top: 1%;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}