/* Import de la bibliothèque pour les notifications d'actions */
/* @import '~ngx-toastr/toastr'; */
/* Import de Bootstrap */
@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* Reset et conf de base */
*, ::before, ::after, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

/* Variables root couleurs */
:root {
    --red: #C0392B;
    --white: #ffffff;
    --skin: #F8C291;
    --night: #34495E;
    --black: #000000;
    --green: #198754;
    --blue: #0d6efd;
    --yellow: #F1C40F;
    --greytext: #3e515b;
    --lightGreytext: #3e515b45;
}
