<footer class="footer">
<div class="logo">
    <div>
        <a href=""><img class="logo" src="../../../../assets/icones/identité/PDFStreamFooter.png" alt="logo PDFStream"></a>
    </div>
    <span>Tous droits réservés.</span>
</div>
<div class="reseaux">
    <a href=""><img class="icone" src="../../../../assets/icones/Reseaux/facebook.png" alt="facebook"></a>
    <a href=""><img class="icone" src="../../../../assets/icones/Reseaux/instagram.png" alt="instagram"></a>
    <a href=""><img class="icone" src="../../../../assets/icones/Reseaux/linkedin.png" alt="linkedin"></a>
</div>
<div class="burger">
    <img src="../../../../assets/burger/Component 232.png" alt="menu burger">
</div>
</footer>
